@import 'variables';

* {
    @extend %style;
}

h3 {
    @extend %style;
}

span {
    @extend %style;
    color: $main-color;
}

h2 {
    @extend %style;
}

img {
    max-width: 100%;
}

.card-data {
    margin-bottom: 20px;
}
.card {
    a {
        img {
            height: 200px;
        }
    }
}

.card-body {
    p {
        height: 100px;
    }
}
