<div>
    <form method="POST" action="/courses/create_store">
        <div class="mb-3">
            <label class="form-label">Tên khóa học</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="mb-3">
            <label class="form-label">Mô tả khóa học</label>
            <input type="text" class="form-control" name="description">
        </div>
        <div class="mb-3">
            <label class="form-label">IMG</label>
            <input type="text" class="form-control" name="img">
        </div>
        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>